asyncgui==0.7.1
asynckivy==0.7.0
certifi==2025.1.31
charset-normalizer==3.4.1
coverage==7.6.10
docutils==0.21.2
filetype==1.2.0
greenlet==3.1.1
idna==3.10
iniconfig==2.0.0
Kivy==2.3.1
Kivy-Garden==0.1.5
kivymd @ https://github.com/kivymd/KivyMD/archive/master.zip#sha256=ab18d4cc36e2d53ea87f463d01299c39c75bae66cc1950f9bc6397f23317c848
materialyoucolor==2.0.10
packaging==24.2
pillow==11.1.0
pluggy==1.5.0
Pygments==2.19.1
pytest==8.3.4
pytest-cov==6.0.0
pytest-mock==3.14.0
requests==2.32.3
SQLAlchemy~=2.0.38
typing_extensions==4.12.2
urllib3==2.3.0

kivymd~=2.0.1.dev0
bcrypt~=4.2.1
pydantic-settings~=2.7.1